:root {
  --mainColor: #eaeaea;
  --secondaryColor: white;
  --borderColor: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(252, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

.style-1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.style-2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  min-height: 10em;
  align-content: center;
  text-align: center;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 2px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

.navigation {
  margin: 0;
  padding: 10px;
}

.navigation li {
  display: inline-block;
  margin: 0 5px;
}

.navigation a {
  color: var(--mainText);
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

.browser-dot {
  background-color: #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2ace3e;
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile-pic {
  display: block;
  margin: 0 auto;

  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

.theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 24px 24px 53px -10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

.settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.preview {
  width: 300px;
  border: 1.5px solid lightseagreen;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

.preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 100px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

.social-img {
  width: 100%;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: #000000;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
  cursor: pointer;
}

.contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

.contact-form label {
  line-height: 2.7em;
}

.contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}



/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #000000;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 2.5s steps(30, end),
    blink-caret 2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange
  }
}